<div
  class="container my-4 p-5 d-flex flex-wrap bg-dark justify-content-center gap-2"
  style="border-radius: 20px"
>
  @for (cg of colors; track $index) {
  <div class="mt-4" style="width: 32.8%">
    <h4 class="text-bg-dark">
      {{ cg[0].toUpperCase() }}
    </h4>
    <div class="d-flex" style="border-radius: 20px; overflow: hidden">
      <!-- 
          Componente figlio: passa i colori del gruppo tramite Input [colorsGrouped]
          e ascolta l'evento Output onColorClick che emette l'hex del colore selezionato.
        -->
      <app-color-group
        [colorsGrouped]="cg[1]"
        (onColorClick)="getColor($event)"
      ></app-color-group>
    </div>
  </div>
  }
</div>
